<!DOCTYPE html>
<html>
<body style="margin:0; padding:0; background-color:#e6eef5; font-family:Arial, Helvetica, sans-serif;">

<table width="100%" cellpadding="0" cellspacing="0" style="background:#e6eef5; padding:30px 0;">
<tr>
<td align="center">

<!-- Main Container -->
<table width="650" cellpadding="0" cellspacing="0" style="background:#ffffff;">

<!-- Logo Section -->
<tr>
<td align="center" style="padding:25px 0;">
    <h2 style="margin:0; font-size:28px; letter-spacing:3px;">VEHICLEVAULT</h2>
</td>
</tr>

<!-- Navigation -->
<tr>
<td align="center" style="padding-bottom:20px; font-size:14px; color:#555;">
    <span style="margin:0 15px;">View Cars</span> |
    <span style="margin:0 15px;">Best Offers</span> |
    <span style="margin:0 15px;">Search Inventory</span>
</td>
</tr>

<!-- Hero Image -->
<tr>
<td>
    <img src="https://images.unsplash.com/photo-1549924231-f129b911e442"
         width="100%"
         style="display:block;">
</td>
</tr>

<!-- Headline -->
<tr>
<td align="center" style="padding:40px 20px 20px 20px;">
    <h1 style="margin:0; font-size:32px; font-weight:bold; color:#111;">
        The Future of Driving Starts Here.
    </h1>
</td>
</tr>

<tr>
<td align="center" style="padding:10px 30px 30px 30px; font-size:16px; color:#444;">
    Hi {{  request.user.first_name }} {{request.user.last_name}},<br><br>
    Thank you for joining VehicleVault.  
    Discover premium vehicles, unbeatable deals, and powerful performance.
</td>
</tr>

<!-- Button -->
<tr>
<td align="center" style="padding-bottom:40px;">
    <a href="http://127.0.0.1:8000/login"
       style="background:#000;
              color:#ffffff;
              padding:15px 40px;
              text-decoration:none;
              font-weight:bold;
              letter-spacing:1px;
              display:inline-block;">
        EXPLORE NOW
    </a>
</td>
</tr>

<!-- Footer -->
<tr>
<td style="background:#f5f5f5; padding:30px; font-size:12px; color:#777; text-align:center;">
    © 2026 VehicleVault. All Rights Reserved.<br>
    Ahmedabad, India
</td>
</tr>

</table>

</td>
</tr>
</table>

</body>
</html>