.sidebar {

    position: fixed;
    left: -250px;
    top: 0;

    width: 250px;
    height: 100%;

    background-color: #212529;

    transition: 0.3s;

    z-index: 1001;
}

.sidebar.active {

    left: 0;
}

/* OVERLAY */
.sidebar-overlay {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.3);

    display: none;

    z-index: 1000;
}

.sidebar-overlay.active {

    display: block;
}
