/* Center wrapper */
.signup-wrapper {

    min-height: 100vh;


    display: flex;

    justify-content: center;

    align-items: flex-start;   /* FIX */

    /* padding-top: 20px;            FIX */
    padding-bottom: 0px;         /* Add space top & bottom */

    background: linear-gradient(135deg, #667eea, #764ba2);

}

/* Card */
.signup-card {

    background: white;

    padding: 35px;

    width: 100%;
    max-width: 420px;
    /* max-height: 90vh; */
    /* overflow-y: auto; */

    border-radius: 12px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.2);

}


/* Title */
.brand-title {

    text-align: center;

    font-weight: bold;

}

/* Subtitle */
.subtitle {

    text-align: center;

    color: gray;

    margin-bottom: 20px;

}

/* Form spacing */
.form-group {

    margin-bottom: 15px;

}

/* Inputs */
.form-control {

    width: 100%;

    padding: 10px;

    border-radius: 8px;

    border: 1px solid #ccc;

}

/* Gender radio */
.gender-group {

    display: flex;

    gap: 20px;

}

.radio-label {

    display: flex;

    align-items: center;

    gap: 5px;

}

/* Password help */
.password-help {

    font-size: 13px;

    background: #f8f9fa;

    padding: 10px;

    border-radius: 8px;

}

/* Button */
.signup-btn {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background: linear-gradient(135deg, #667eea, #764ba2);

    color: white;

    font-weight: bold;

    margin-top: 10px;

    cursor: pointer;

}