<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold">🚗 VehicleVault</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">My Vehicles</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>

        {% comment %} <li class="nav-item">
          <a class="nav-link btn btn-light text-primary px-3 ms-2" href="#">
            Logout
          </a>
        </li> {% endcomment %}

      </ul>
    </div>

  </div>
</nav>